
.navbar-nav a{
  font-size: 18;

}

.navbar-nav a:hover{
  color: crimson;
}

.card-body a:hover{
  background-color: crimson;
  border: 0;
}

.buttons a:hover{
  background-color: crimson;
  border: 0;
}

.buttons button:hover{
  background-color: crimson;
  border: 0;
}

.main-footer{
  background-color: #343434;
  color: white;
  display: flex;
}

.main-footer h4{
  padding-top: 25px;
}

.footer-bottom{
  padding-top: 25px;
}

